body {
  font-family: "Open Sans" ;
}

h2 {
  margin-top: -5px;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 240px;
  padding: 20px;
  background-color: rgb(255, 0, 85);
  border: 3px solid rgb(0, 0, 0);
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.celula{
  width: 75px;
  height: 65px;
  font-size: 30pt;
  margin: 4px 2px;
  font-weight: 300;
  padding-top: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.botao-recarregar {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid rgba(223, 1, 1, 0.13);
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}
 